<div class="new-entry">
  <%= link_to 'New Entry', new_entry_path, class: 'btn btn-primary' %>
</div>

<div class="show-entries">
    <ul>
        <% @entries.each do |entry| %>
          <li><%= link_to entry.created_at.strftime("%A, %d of %B %Y"), entry %></li>
        <% end %>
        
        <%= "I couldn't find any journal entries yet 😟." if @entries.count == 0 %>
        
    </ul>
</div>

<br>

