<div class="entry-title">
  <h1><%= @entry.created_at.strftime("%A, %d of %B") %></h1>
</div>

<div class="entry">
  <p>
    <%= (h @entry.content).gsub("\n", "<br />").html_safe %>

  </p>
</div>

<div class="entry-actions">
  <%= link_to 'Edit', edit_entry_path(@entry), class: 'btn btn-primary' %>
</div>